#canvas {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0 auto;
    overflow: hidden;
}
#dodge, #hit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "segoe ui";
    color: #fff;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
}
#dodge {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
    left: calc(100vw / 4);
    transform: translate(-120%, -50%);
}
#hit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    left: calc(100vw - (100vw / 4));
    transform: translate(20%, -50%);
}